<!doctype html>
  <head>
    <meta charset="utf-8">
    <title> Alicia's Travel Blog</title>
    <link href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.css" rel="stylesheet">
    <style>.content {padding-top: 80px;}</style>
  </head>
  <body>
   {%- block topbar -%}
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h2>
              <a href="/" class="brand">My Travels</a> <small>by Alicia</small>
          </h2>
        </div>
      </div>
    </div>
    {%- endblock -%}

    <div class="container">
      <div class="content">
        {%  if name %}
            <h1>Place: {{ name }}</h1>
        {%  else %}
            <h1>Alicia's Travel Blog</h1>
        {% endif %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>


</body>
